## Recommendation systems 

These are algorithms and techniques designed to provide personalized suggestions or recommendations to users. These systems are widely used in various online platforms to enhance user experiences and help users discover relevant content, products, or services. There are several types of recommendation systems, including:



### Content-Based Filtering:

This approach recommends items similar to those a user has shown interest in, based on the characteristics of the items and the user's profile. It doesn't rely on user-user or item-item similarity.

### Collaborative Filtering:

User-Based Collaborative Filtering: This method recommends items to a user based on the preferences of users who are similar to them.

Item-Based Collaborative Filtering: This method recommends items based on their similarity to items the user has already interacted with.

### Hybrid Recommender Systems:

These systems combine multiple recommendation techniques to provide more accurate and diverse recommendations. For example, combining collaborative and content-based filtering.

- We will go for Collaborative Filtering based approach here

# Importing Libraries and Dataset

In [1]:
import pandas as pd
import numpy as np

### 1. Books

In [2]:
books = pd.read_csv("BX_Books.csv",
                   sep = ";", error_bad_lines = False, encoding= "latin-1")
books.head()

/var/folders/vk/7sdhypzn2gv7l4rhj0mf23mr0000gn/T/ipykernel_41981/4156597460.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv("BX_Books.csv",

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [3]:
books.shape

(271379, 8)

In [4]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
books = books[["ISBN", "Book-Title",'Book-Author', 'Year-Of-Publication', 'Publisher' ]]
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

In [6]:
books.rename(columns = {"Book-Title": "title", 
                        "Book-Author": "author", 
                        'Year-Of-Publication' : "year", 
                        'Publisher' : "publisher"},
            inplace = True)
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

### 2. Users

In [7]:
users = pd.read_csv("BX-Users.csv",
                   sep = ";", error_bad_lines = False, encoding= "latin-1")
users.head()

/var/folders/vk/7sdhypzn2gv7l4rhj0mf23mr0000gn/T/ipykernel_41981/3896695021.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv("BX-Users.csv",

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [8]:
users.shape

(278858, 3)

In [9]:
users.rename(columns = {"User-ID" : "user_id", "Location": "location", "Age" : "age"}, inplace= True)
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### 3. Ratings

In [10]:
ratings = pd.read_csv("BX-Book-Ratings.csv",
                   sep = ";", error_bad_lines = False, encoding= "latin-1")
ratings.head()

/var/folders/vk/7sdhypzn2gv7l4rhj0mf23mr0000gn/T/ipykernel_41981/3615874248.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv("BX-Book-Ratings.csv",

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
ratings.rename(columns = {"User-ID" : "user_id", "Book-Rating" : "rating"}, inplace= True)
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

Let us see the amount of data we have, how many records we have here:

In [12]:
books.shape

(271379, 5)

In [13]:
users.shape

(278858, 3)

In [14]:
ratings.shape

(1149780, 3)

## Setting approach

We need to use collaborative filtering and give user recommendations based on preferences of users similar to them.

We will suggest that book to you which you have not read but you might like it because other similar user like it.

We will consider ratings of those users who have read lot of books, so that it would be a good estimate. (Knowledgable user)

We will create a matrix with users as columns and books as values.

We will use these constraints:
    
    1. We will pick Books which have atleast 50 ratings (so that we can rely on ratings.)
    2. We will consider users which have given atleast 200 ratings. (knowledgable user)

### 1. Picking Users

In [15]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [16]:
ratings["rating"].value_counts()

0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: rating, dtype: int64

Ok So, we have rating from 0 to 10

In [17]:
ratings["user_id"].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

Total unique users who have done some rating are about 1 lacs

We need to select those users who have done ratings more than 200 books.

In [18]:
ratings["user_id"].value_counts() > 200

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: user_id, Length: 105283, dtype: bool

In [19]:
x = ratings["user_id"].value_counts() > 200

In [20]:
x[x]

11676     True
198711    True
153662    True
98391     True
35859     True
          ...
274808    True
28634     True
59727     True
268622    True
188951    True
Name: user_id, Length: 899, dtype: bool

In [21]:
x[x].shape

(899,)

We have only 899 users like that.

These are the great people, who's intelligence will make our model.

Let us take user_id of these users

In [22]:
y = x[x].index
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [23]:
y[0]

11676

In [24]:
ratings["user_id"].isin(y)

0          False
1          False
2          False
3          False
4          False
           ...
1149775    False
1149776    False
1149777    False
1149778    False
1149779    False
Name: user_id, Length: 1149780, dtype: bool

In [25]:
ratings = ratings[ratings["user_id"].isin(y)]
ratings

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

So, we are left with 5 lakh something ratings by these 899 users.

### Joining books table to ratings table now

In [26]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company

Based on ISBN, we can join these two tables

In [27]:
ratings_with_books = ratings.merge(books, on = "ISBN")
ratings_with_books

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc
...,...,...,...,...,...,...,...
487680,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom
487681,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA)
487682,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim"
487683,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann
487684,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN)

As this is a inner join, means there are some books which do not have ratings and vice versa

## 2. Picking books

Books must have atleast 50 ratings given:

In [28]:
ratings_with_books.groupby("title")["rating"].count().reset_index()

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160275  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       3
160276                                      Ã?Â?lpiraten.       1
160277                     Ã?Â?rger mit Produkt X. Roman.       1
160278                              Ã?Â?stlich der Berge.       1
160279                                  Ã?Â?thique en toc       1

[160280 rows x 2 columns]

In [31]:
number_rating = ratings_with_books.groupby("title")["rating"].count().reset_index()

In [32]:
number_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160275  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       3
160276                                      Ã?Â?lpiraten.       1
160277                     Ã?Â?rger mit Produkt X. Roman.       1
160278                              Ã?Â?stlich der Berge.       1
160279                                  Ã?Â?thique en toc       1

[160280 rows x 2 columns]

In [33]:
number_rating.rename(columns = {"rating" : "number of ratings"}, inplace= True)

In [34]:
number_rating

                                                    title  number of ratings
0        A Light in the Storm: The Civil War Diary of ...                  2
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Beyond IBM: Leadership Marketing and Finance ...                  1
4        Clifford Visita El Hospital (Clifford El Gran...                  1
...                                                   ...                ...
160275  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...                  3
160276                                      Ã?Â?lpiraten.                  1
160277                     Ã?Â?rger mit Produkt X. Roman.                  1
160278                              Ã?Â?stlich der Berge.                  1
160279                                  Ã?Â?thique en toc                  1

[160280 rows x 2 columns]

Joining this table to the ratings with books

In [35]:
final_rating = ratings_with_books.merge(number_rating, on = "title")
final_rating

,user_id,ISBN,rating,title,author,year,publisher,number of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
...,...,...,...,...,...,...,...,...
487680,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,1
487681,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),1
487682,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",1
487683,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,1
487684,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),1

In [39]:
final_rating = final_rating[final_rating["number of ratings"] >= 50]
final_rating

,user_id,ISBN,rating,title,author,year,publisher,number of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
...,...,...,...,...,...,...,...,...
236701,255489,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
236702,256407,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236703,257204,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236704,261829,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236705,273979,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50

These are the users who have done more than 200 ratings and books which have atleast 50 ratings given.

### Removing duplicates

In [43]:
final_rating.duplicated(["user_id", "title"]).sum()

2003

So, same user have done multiple times reviews of the same book which we need to remove from our records.

We will just consider the first review.

In [44]:
final_rating.drop_duplicates(["user_id", "title"])

,user_id,ISBN,rating,title,author,year,publisher,number of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,82
...,...,...,...,...,...,...,...,...
236701,255489,0553579983,7,And Then You Die,Iris Johansen,1998,Bantam,50
236702,256407,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236703,257204,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236704,261829,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50
236705,273979,0553579983,0,And Then You Die,Iris Johansen,1998,Bantam,50

In [45]:
final_rating.drop_duplicates(["user_id", "title"], inplace= True)

/var/folders/vk/7sdhypzn2gv7l4rhj0mf23mr0000gn/T/ipykernel_41981/1168215855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(["user_id", "title"], inplace= True)

Let us see how many unique books we are having here.

In [49]:
len(final_rating["title"].unique())

742

So, we are just left with 742 books only to work on.

## Making a pivot

I want to see users in columns and their rating of books in the rows and the corresponding rating as the value of the cell.

In [47]:
book_pivot = final_rating.pivot_table(columns = "user_id", index = "title", values = "rating")
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

So, we are just left with 742 books and 888 users to play with.

We have the problem of NaN values here

In [51]:
book_pivot.fillna(0, inplace= True)

In [52]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformation

We will use sklearn nearest neighbors clustering algorithm which works on finding out distance between objects and making them fit into K clusters.

The pivot table that we have is having very sparse data means lot of zero, we can go for some optimization using CSR library.

A Compressed Sparse Row (CSR) matrix is a popular data structure used for efficient storage and manipulation of sparse matrices. 

Sparse matrices are matrices in which most of the elements are zero. 

CSR is a memory-efficient way to represent sparse matrices in computer memory.

In [55]:
import scipy.sparse as sp

In [56]:
csr_matrix = sp.csr_matrix(book_pivot)
csr_matrix

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14942 stored elements in Compressed Sparse Row format>

# Importing ML Clustering Algorithm

In [58]:
from sklearn.neighbors import NearestNeighbors

Creating an instance of the NearestNeighbors class from a machine learning library like Scikit-Learn. 

The NearestNeighbors class is used for unsupervised machine learning tasks, particularly for finding nearest neighbors in a dataset.

In [59]:
model = NearestNeighbors(algorithm="brute")

The algorithm parameter is set to "brute," which means that this instance of NearestNeighbors will use a brute-force search to find the nearest neighbors. In a brute-force search, the algorithm directly computes the distances between data points to find the nearest neighbors, which can be computationally expensive for large datasets.

In [60]:
model.fit(csr_matrix)

NearestNeighbors(algorithm='brute')

In [68]:
model.n_neighbors

5

So, it have chosen 5 nearest neighbors by default

Now, the model will tell us the suggestions of the books, by taking a input book and the number of recommendations of books we want

In [72]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

iloc is a method in the Pandas library, which is a popular Python library for data manipulation and analysis. It is used for integer-location-based indexing and selection of data in a Pandas DataFrame or Series. iloc allows you to select rows and columns by their integer positions, rather than by labels or boolean conditions.

In [73]:
book_pivot.iloc[0,:]

user_id
254       9.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    0.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: 1984, Length: 888, dtype: float64

In [75]:
book_pivot.index.values

array(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \\It\\": One Child\'s Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       'A Darkness More Than Night', 'A Day Late and a Dollar Short',
       'A Fine Balance', 'A Great Deliverance',
       'A Heartbreaking Work of Staggering Genius',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
       'A Man Named Dave: A Story of Triumph and Forgiveness',
       'A Man in Full', 'A Map of the World', 'A Painted House',
       'A Patchwork Planet', 'A Prayer for Owen Meany',
       'A Thin Dark Line (Mysteries & Horror)',
       "A Thousand Acres (Ballantine Reader's Circle)", 'A Time to Kill',
       "A Virtuous Woman (Oprah's Book Club (Paperback))",
       'A Walk to Remember', 'A Widow for One Year', 'A Wrinkle In Time',
       'A Wrinkle in Time', 'A Year in Provence', "ANGELA'S ASHES",
       'Abduction', 'About a Boy', 'Absolute Power', 'Acceptable Risk',
       'Accident', 'Airframe', 'Alaska', 'All Around the Town',
       'All Creatures Great and Small', 'All I Really Need to Know',
       'All That Remains (Kay Scarpetta Mysteries (Paperback))',
       'All the Pretty Horses (The Border Trilogy, Vol 1)',
       'Along Came a Spider (Alex Cross Novels)', 'American Gods',
       'And Then You Die', "Angela's Ashes (MMP) : A Memoir",
       "Angela's Ashes: A Memoir", 'Angels', 'Angels & Demons',
       'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
       'Animal Dreams', 'Animal Farm',
       'Anne Frank: The Diary of a Young Girl',
       'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'Anne of the Island', 'Artemis Fowl (Artemis Fowl, Book 1)',
       'Ashes to Ashes', 'At Home in Mitford (The Mitford Years)',
       'Atonement : A Novel',
       'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
       'Back Roads', 'Bag of Bones',
       'Balzac and the Little Chinese Seamstress : A Novel',
       'Bastard Out of Carolina', 'Beach House', 'Beach Music',
       'Before I Say Good-Bye', 'Bel Canto: A Novel', 'Beloved',
       'Beloved (Plume Contemporary Fiction)', 'Betrayal in Death',
       "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
       "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
       'Big Trouble', 'Billy Straight : A Novel', 'Birthright',
       'Bittersweet', 'Black House', 'Black Notice', 'Black and Blue',
       'Bleachers', 'Blessings', 'Blood Work', 'Blue Diary',
       'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
       'Body of Lies', 'Brave New World', 'Breath, Eyes, Memory',
       'Breathing Lessons', 'Bridge to Terabithia',
       'Bridget Jones : The Edge of Reason', "Bridget Jones's Diary",
       'Bridget Jones: The Edge of Reason', 'By the Light of the Moon',
       'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
       "CAT'S EYE", 'Call of the Wild', 'Carnal Innocence',
       'Carolina Moon', 'Carrie', 'Cat & Mouse (Alex Cross Novels)',
       'Catering to Nobody', 'Cause of Death', 'Certain Prey',
       "Charlotte's Web (Trophy Newbery)", 'Charming Billy',
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
       'Chocolat', 'Choke', 'Chosen Prey', 'Christine', 'Chromosome 6',
       'Circle of Friends', 'Clear and Present Danger (Jack Ryan Novels)',
       'Cold Mountain', 'Cold Mountain : A Novel', 'Cold Sassy Tree',
       'Colony', 'Coming Home',
       'Confessions of a Shopaholic (Summer Display Opportunity)',
       'Confessions of an Ugly Stepsister : A Novel', 'Congo', 'Contact',
       'Contagion', 'Coraline', 'Couplehood', 'Cradle and All',
       'Crazy for You',
       'Cruel & Unusual (Kay Scarpetta Mysteries (Paperback))',
       'Cry Wolf', 'Cujo',
       'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
       'Daddy', "Daddy's Little Girl", 'Daisy Fay and the Miracle Man',
       'Dance upon the Air (Three Sisters Island Trilogy)',
       'Dances With Wolves', 'Dangerous', 'Dark Angel', 'Dark Paradise',
       'Dark Rivers of the Heart', 'Dawn (Cutler)', 'Dead Run',
       'Death du Jour', 'Debt of Honor (Jack Ryan Novels)',
       'Deception Point', 'Deck the Halls (Holiday Classics)',
       'Degree of Guilt', 'Deja Dead', 'Desperation',
       'Devices and Desires', 'Different Seasons',
       'Digital Fortress : A Thriller', 'Disclosure',
       'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'Dolores Claiborne', "Don't Stand Too Close to a Naked Man",
       "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
       "Dr. Atkins' New Diet Revolution", 'Dragon Tears',
       'Dragonfly in Amber', 'Dream Country', 'Dreamcatcher',
       'Drowning Ruth', "Drowning Ruth (Oprah's Book Club)",
       'Drums of Autumn', "Dude, Where's My Country?", 'Dust to Dust',
       'Dying for Chocolate (Culinary Mysteries (Paperback))',
       'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
       'Easy Prey', 'Echoes', 'Ellen Foster', 'Empire Falls',
       "Ender's Game (Ender Wiggins Saga (Paperback))",
       'Engaging The Enemy', 'Envy', 'Evening Class',
       "Everything's Eventual : 14 Dark Tales", 'Exclusive',
       'Executive Orders (Jack Ryan Novels)', 'Eyes of Prey',
       'Eyes of a Child',
       'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
       'FORREST GUMP (Movie Tie in)',
       'Face the Fire (Three Sisters Island Trilogy)', 'Fahrenheit 451',
       'Faking It', 'Fall On Your Knees (Oprah #45)', 'Falling Angels',
       'False Memory', 'Family Album',
       'Fast Food Nation: The Dark Side of the All-American Meal',
       'Fast Women', 'Fat Tuesday', 'Fatal Cure', 'Fatherhood',
       'Fear Nothing', 'Final Target', 'Fine Things', 'Fingersmith',
       'Five Days in Paris', 'Five Quarters of the Orange',
       'Flesh and Blood',
       'Forever... : A Novel of Good and Evil, Love and Hope',
       "Fortune's Rocks : A Novel", "Fortune's Rocks: A Novel",
       "Foucault's Pendulum", 'Four Blind Mice', 'Four Past Midnight',
       'Four To Score (A Stephanie Plum Novel)',
       'Fried Green Tomatoes at the Whistle Stop Cafe',
       "From Potter's Field", 'From the Corner of His Eye',
       "Full House (Janet Evanovich's Full Series)",
       "Full Tilt (Janet Evanovich's Full Series)",
       'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
       'GARDEN OF SHADOWS (Dollanger Saga (Paperback))', "Gerald's Game",
       'Girl in Hyacinth Blue', 'Girl with a Pearl Earring',
       'Girl, Interrupted', 'Good Omens', 'Good in Bed', 'Gorky Park',
       'Granny Dan', 'Guardian Angel',
       'Guilty Pleasures (Anita Blake Vampire Hunter (Paperback))',
       'Guilty as Sin',
       'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
       'Hannibal',
       'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       "Harry Potter and the Sorcerer's Stone (Book 1)",
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'Harvest', 'Heart of the Sea (Irish Trilogy)', 'Heartbeat',
       'Heartbreaker', 'Hearts In Atlantis', 'Hearts in Atlantis',
       'Heaven and Earth (Three Sisters Island Trilogy)', 'Hemlock Bay',
       'Here on Earth', 'Hide & Seek', 'Hideaway', 'High Fidelity',
       'High Five (A Stephanie Plum Novel)', 'Holes (Yearling Newbery)',
       'Homecoming', 'Homeport', "Hornet's Nest",
       'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'House of Sand and Fog', 'How Stella Got Her Groove Back',
       'How to Be Good', 'How to Make an American Quilt',
       'I Capture the Castle', 'I Is for Innocent',
       'I Know This Much Is True',
       "I Know This Much Is True (Oprah's Book Club)",
       'I Know Why the Caged Bird Sings', "I'll Be Seeing You",
       'Icebound', 'Icy Sparks', 'If Only It Were True',
       'If Tomorrow Comes', 'Impulse', 'In Her Shoes : A Novel',
       'Inner Harbor (Quinn Brothers (Paperback))', 'Insomnia',
       'Intensity', 'Interview with the Vampire',
       'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
       'Into the Wild', 'Invasion', 'Irish Hearts', 'Isle of Dogs', 'It',
       'It Was on Fire When I Lay Down on It', "It's Always Something",
       'J Is for Judgment', 'Jack & Jill (Alex Cross Novels)',
       'Jacob Have I Loved',
       'Jemima J: A Novel About Ugly Ducklings and Swans', 'Jewel',
       "Jewel (Oprah's Book Club)", 'Jewels of the Sun (Irish Trilogy)',
       'Journey', 'Jurassic Park',
       'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
       'Kaleidoscope', 'Key of Knowledge (Key Trilogy (Paperback))',
       'Key of Light (Key Trilogy (Paperback))',
       'Key of Valor (Roberts, Nora. Key Trilogy, 3.)', 'Killjoy',
       'Kiss the Girls', 'L Is for Lawless', 'Ladder of Years',
       'Lake Wobegon Days', 'Lake Wobegon days',
       "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
       'Last Chance Saloon', 'Last Man Standing',
       "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
       'Let Me Call You Sweetheart', 'Life of Pi', 'Lightning',
       'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
       'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
       'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
       'Little Altars Everywhere: A Novel', 'Long After Midnight',
       'Lord of the Flies',
       'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
       'Loves Music, Loves to Dance', 'Lucky : A Memoir',
       'Lucky Man: A Memoir', 'M Is for Malice',
       'Macgregor Brides (Macgregors)', 'Macgregor Grooms (Macgregors)',
       'Master of the Game', 'Matilda', 'Me Talk Pretty One Day',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Mercy', 'Message from Nam', 'Message in a Bottle',
       'Middlesex: A Novel', 'Midnight', 'Midnight Bayou',
       'Midnight in the Garden of Good and Evil',
       'Midnight in the Garden of Good and Evil: A Savannah Story',
       'Midwives: A Novel', 'Mind Prey', 'Mirror Image', 'Misery',
       'Miss Julia Speaks Her Mind : A Novel',
       'Monster : A Novel (Alex Delaware Novels (Paperback))',
       'Montana Sky', 'Moo', 'Moonlight Becomes You',
       'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
       'Mortal Fear', 'Mortal Prey', 'Mother of Pearl', 'Mr. Murder',
       'My Gal Sunday', 'Mystic River', 'N Is for Noose', 'Naked',
       'Needful Things', 'Nerd in Shining Armor',
       'Neuromancer (Remembering Tomorrow)', 'Neverwhere',
       'Nickel and Dimed: On (Not) Getting By in America',
       'Nicolae: The Rise of Antichrist (Left Behind No. 3)', 'Night',
       'Night Prey', 'Night Sins', 'Night Whispers',
       'Nightmares & Dreamscapes', 'Nights in Rodanthe',
       'No Greater Love', 'No Safe Place', 'Notes from a Small Island',
       'Nothing Lasts Forever', 'Now You See Her',
       'On the Street Where You Live', 'One Door Away from Heaven',
       'One True Thing', 'One for the Money (A Stephanie Plum Novel)',
       'One for the Money (Stephanie Plum Novels (Paperback))',
       'Oryx and Crake', 'Outlander', 'Over the Edge', 'P Is for Peril',
       'Paradise', 'Patriot Games (Jack Ryan Novels)', 'Pay It Forward',
       'Peace Like a River', 'Pet Sematary', 'Phantoms', 'Pigs in Heaven',
       'Plainsong (Vintage Contemporaries)', 'Pleading Guilty',
       'Plum Island', 'Point of Origin',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Pop Goes the Weasel', 'Portrait in Death',
       'Possession : A Romance', 'Postmortem', 'Practical Magic',
       'Presumed Innocent', "Pretend You Don't See Her",
       'Pride and Prejudice', 'Primary Colors: A Novel of Politics',
       'Prime Cut', 'Prodigal Summer', 'Prodigal Summer: A Novel',
       'Purity in Death', 'Q Is for Quarry', 'Quentins', 'Rainbow Six',
       'Range of Motion', 'Reap the Wind', 'Rebecca', 'Red Dragon',
       'Red Storm Rising', 'Remember Me', 'Riptide', 'Rising Sun',
       'Rising Tides', "River's End", 'River, Cross My Heart',
       'Rose Madder', 'Roses Are Red (Alex Cross Novels)',
       'Rules of Prey', 'SHIPPING NEWS', 'STONES FROM THE RIVER',
       'Sacred Sins', 'Saint Maybe', 'Sanctuary', 'Saving Faith',
       'Scarlet Feather',
       'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""',
       "Schindler's List", 'Sea Glass: A Novel',
       'Sea Swept (Quinn Brothers (Paperback))', 'Seabiscuit',
       'Seabiscuit: An American Legend', 'Second Nature',
       'Secret History', 'Secrets', 'Seize the Night', 'September',
       'Seven Habits Of Highly Effective People',
       'Seven Up (A Stephanie Plum Novel)', 'Shadow Prey', 'Shadowfires',
       'Shattered', "She's Come Undone (Oprah's Book Club (Paperback))",
       "She's Come Undone (Oprah's Book Club)", 'Shell Seekers',
       'Shopaholic Takes Manhattan (Summer Display Opportunity)',
       'Shopaholic Ties the Knot', 'Sick Puppy', 'Silence of the Lambs',
       'Silent Witness', 'Sisterhood of the Traveling Pants',
       'Skeleton Crew', 'Skipping Christmas', 'Slammerkin',
       "Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
       'Sleepers', 'Slow Waltz in Cedar Bend', 'Small Town Girl',
       'Smart Women', "Smilla's Sense of Snow", 'Snow Falling on Cedars',
       'Sole Survivor', "Song of Solomon (Oprah's Book Club (Paperback))",
       "Songs in Ordinary Time (Oprah's Book Club (Paperback))",
       "Sophie's World: A Novel About the History of Philosophy",
       'Southern Cross', 'Sphere', 'Standoff',
       'Stanislaski Brothers (Silhouette Promo)', 'Still Waters',
       'Stillwatch', 'Strangers',
       'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
       'Sudden Prey', 'Summer Pleasures', 'Summer Sisters',
       "Suzanne's Diary for Nicholas", 'Table For Two',
       'Tales of a Fourth Grade Nothing',
       'Taltos: Lives of the Mayfair Witches', 'Tara Road',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       'Tears of the Moon (Irish Trilogy)', 'Tell Me Lies (Tell Me Lies)',
       'Tell Me Your Dreams', 'Tell No One', 'Temptation',
       'That Camden Summer', 'The Accidental Tourist',
       'The Alchemist: A Fable About Following Your Dream', 'The Alibi',
       'The Alienist', 'The Amazing Adventures of Kavalier & Clay',
       'The Amber Spyglass (His Dark Materials, Book 3)',
       'The Andromeda Strain', 'The Angel of Darkness', 'The Apprentice',
       'The Bachelor (Warner Books Contemporary Romance)',
       'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
       'The Bad Place', 'The Beach House', 'The Bean Trees',
       'The Blind Assassin', 'The Blue Nowhere : A Novel',
       'The Bluest Eye', 'The Body Farm', "The Bonesetter's Daughter",
       'The Bonfire of the Vanities',
       "The Book of Ruth (Oprah's Book Club (Paperback))",
       'The Bourne Identity', 'The Bourne Supremacy',
       'The Bourne Ultimatum', 'The Boy Next Door', 'The Brethren',
       'The Bridges of Madison County', 'The Burden of Proof',
       'The Cardinal of the Kremlin (Jack Ryan Novels)', 'The Carousel',
       'The Catcher in the Rye',
       'The Celestine Prophecy (Celestine Prophecy)', 'The Chamber',
       'The Cider House Rules',
       "The Clan of the Cave Bear (Earth's Children (Paperback))",
       'The Client', 'The Clinic (Alex Delaware Novels (Paperback))',
       'The Color Purple',
       "The Color of Water: A Black Man's Tribute to His White Mother",
       'The Copper Beech', 'The Cradle Will Fall',
       'The Crimson Petal and the White', 'The Da Vinci Code',
       'The Dark Half', 'The Dead Zone', 'The Deep End of the Ocean',
       'The Devil Wears Prada : A Novel',
       'The Diary of Ellen Rimbauer: My Life at Rose Red',
       'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'The Dogs of Babel (Today Show Book Club #12)',
       'The Door to December',
       'The Drawing of the Three (The Dark Tower, Book 2)', 'The Edge',
       'The Eight', 'The Empty Chair', 'The English Patient',
       'The Eyre Affair: A Novel', 'The Face of Deception',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       'The Firm', 'The First Counsel',
       'The First Wives Club Movie Tie In',
       'The Five People You Meet in Heaven', 'The Fourth Hand',
       "The General's Daughter", 'The Genesis Code', 'The Ghost',
       'The Gift', 'The Girl Who Loved Tom Gordon',
       "The Girls' Guide to Hunting and Fishing",
       'The Giver (21st Century Reference)', 'The Glass Lake',
       'The God of Small Things',
       'The Golden Compass (His Dark Materials, Book 1)',
       'The Great Gatsby', 'The Green Mile', 'The Grilling Season',
       'The Guardian', 'The Gunslinger (The Dark Tower, Book 1)',
       "The Handmaid's Tale", "The Hitchhiker's Guide to the Galaxy",
       'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
       'The Honk and Holler Opening Soon', 'The Horse Whisperer',
       'The Hot Zone', 'The Hours : A Novel', 'The Hours: A Novel',
       'The House of the Spirits', 'The Hundred Secret Senses',
       'The Hunt for Red October',
       "The Idiot Girls' Action Adventure Club", 'The Jester',
       'The Joy Luck Club',
       'The Killing Game: Only One Can Win...and the Loser Dies',
       'The King of Torts', 'The Kiss', "The Kitchen God's Wife",
       'The Last Precinct', 'The Last Time They Met : A Novel',
       'The Little Friend', 'The Little Prince', 'The Long Road Home',
       'The Loop',
       "The Lost Boy: A Foster Child's Search for the Love of a Family",
       'The Lost World', 'The Lottery Winner : Alvirah And Willy Stories',
       'The Lovely Bones: A Novel', 'The Mists of Avalon',
       'The Most Wanted', 'The Mulberry Tree',
       'The Mummy or Ramses the Damned', 'The Murder Book',
       'The Nanny Diaries: A Novel', 'The Next Accident',
       "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)",
       'The Notebook', 'The Other Boleyn Girl', 'The Partner',
       'The Pelican Brief',
       'The Perfect Storm : A True Story of Men Against the Sea',
       'The Phantom Tollbooth', 'The Pillars of the Earth',
       "The Pilot's Wife : A Novel",
       "The Plains of Passage (Earth's Children (Paperback))",
       'The Poisonwood Bible', 'The Poisonwood Bible: A Novel',
       'The Prince of Tides',
       "The Princess Bride: S Morgenstern's Classic Tale of True Love and High Adventure",
       'The Promise', 'The Pull of the Moon',
       'The Queen of the Damned (Vampire Chronicles (Paperback))',
       'The Rainmaker', 'The Rapture of Canaan', 'The Reader',
       'The Red Tent (Bestselling Backlist)', 'The Reef',
       'The Regulators',
       'The Reptile Room (A Series of Unfortunate Events, Book 2)',
       'The Rescue', 'The Return Journey',

In [70]:
book_pivot.iloc[237,:]

user_id
254       9.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    9.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: Harry Potter and the Chamber of Secrets (Book 2), Length: 888, dtype: float64

In [77]:
book_pivot.iloc[237,:].values.reshape(1,-1)

array([[ 9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0., 10.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  9.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10., 10.,  0.,  0.,  7.,  0.,
         0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  8.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0., 10.,  0.,  0.,  0.,  7.,
        10.,  0., 10.,  0., 10.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  9.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  5.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  7.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  8., 10.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0., 10.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  9.,
         0.,  0.,  0.,  0.]])

In [79]:
distances, suggestions = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors = 6)

In [80]:
distances

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [81]:
suggestions

array([[237, 240, 238, 241, 184, 536]])

So, the model is able to find out the nearest 5 books in the hyper dimensional space that will be used for recommedndations.

In [89]:
book_pivot.index[240]

'Harry Potter and the Prisoner of Azkaban (Book 3)'

In [90]:
for suggestion in suggestions:
    print(book_pivot.index[suggestion])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

These are all the books that are related to Harry Potter, wow how does it work, 

Just based on rating of people and based on collaborative filtering we can make very good recommendations.

## Creating a usable function for this recommender system

In [91]:
book_pivot.index == "The Cradle Will Fall"

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

But we want the index of it

In [92]:
np.where(book_pivot.index == "The Cradle Will Fall")

(array([536]),)

In [94]:
np.where(book_pivot.index == "The Cradle Will Fall")[0][0]

536

In [95]:
def recommed_books(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distances, suggestions = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors = 6)
    suggestions_list = []
    for index in suggestions:
        suggestions_list.append(book_pivot.index[index])
    return suggestions_list

In [96]:
recommed_books("The Cradle Will Fall")

[Index(['The Cradle Will Fall', 'Exclusive', 'The Long Road Home',
        'Eyes of a Child', 'Jacob Have I Loved', 'No Safe Place'],
       dtype='object', name='title')]

In [114]:
recommed_books("The Cradle Will Fall")[0][1:]

Index(['Exclusive', 'The Long Road Home', 'Eyes of a Child',
       'Jacob Have I Loved', 'No Safe Place'],
      dtype='object', name='title')

# Saving the requirements as pickle file to deploy this using streamlit application

In [99]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

We will require book pivot to create the list of books from where user will select the books

In [100]:
import pickle

In [103]:
pickle.dump(book_pivot, open("book_pivot.pkl", "wb"))

We will need the model

In [105]:
pickle.dump(model, open("model.pkl", "wb"))

And this function we can use now

In [106]:
def recommed_books(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distances, suggestions = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors = 6)
    suggestions_list = []
    for index in suggestions:
        suggestions_list.append(book_pivot.index[index])
    return suggestions_list

In [108]:
book_pivot.index.values

array(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \\It\\": One Child\'s Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       'A Darkness More Than Night', 'A Day Late and a Dollar Short',
       'A Fine Balance', 'A Great Deliverance',
       'A Heartbreaking Work of Staggering Genius',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
       'A Man Named Dave: A Story of Triumph and Forgiveness',
       'A Man in Full', 'A Map of the World', 'A Painted House',
       'A Patchwork Planet', 'A Prayer for Owen Meany',
       'A Thin Dark Line (Mysteries & Horror)',
       "A Thousand Acres (Ballantine Reader's Circle)", 'A Time to Kill',
       "A Virtuous Woman (Oprah's Book Club (Paperback))",
       'A Walk to Remember', 'A Widow for One Year', 'A Wrinkle In Time',
       'A Wrinkle in Time', 'A Year in Provence', "ANGELA'S ASHES",
       'Abduction', 'About a Boy', 'Absolute Power', 'Acceptable Risk',
       'Accident', 'Airframe', 'Alaska', 'All Around the Town',
       'All Creatures Great and Small', 'All I Really Need to Know',
       'All That Remains (Kay Scarpetta Mysteries (Paperback))',
       'All the Pretty Horses (The Border Trilogy, Vol 1)',
       'Along Came a Spider (Alex Cross Novels)', 'American Gods',
       'And Then You Die', "Angela's Ashes (MMP) : A Memoir",
       "Angela's Ashes: A Memoir", 'Angels', 'Angels & Demons',
       'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
       'Animal Dreams', 'Animal Farm',
       'Anne Frank: The Diary of a Young Girl',
       'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'Anne of the Island', 'Artemis Fowl (Artemis Fowl, Book 1)',
       'Ashes to Ashes', 'At Home in Mitford (The Mitford Years)',
       'Atonement : A Novel',
       'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
       'Back Roads', 'Bag of Bones',
       'Balzac and the Little Chinese Seamstress : A Novel',
       'Bastard Out of Carolina', 'Beach House', 'Beach Music',
       'Before I Say Good-Bye', 'Bel Canto: A Novel', 'Beloved',
       'Beloved (Plume Contemporary Fiction)', 'Betrayal in Death',
       "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
       "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
       'Big Trouble', 'Billy Straight : A Novel', 'Birthright',
       'Bittersweet', 'Black House', 'Black Notice', 'Black and Blue',
       'Bleachers', 'Blessings', 'Blood Work', 'Blue Diary',
       'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
       'Body of Lies', 'Brave New World', 'Breath, Eyes, Memory',
       'Breathing Lessons', 'Bridge to Terabithia',
       'Bridget Jones : The Edge of Reason', "Bridget Jones's Diary",
       'Bridget Jones: The Edge of Reason', 'By the Light of the Moon',
       'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
       "CAT'S EYE", 'Call of the Wild', 'Carnal Innocence',
       'Carolina Moon', 'Carrie', 'Cat & Mouse (Alex Cross Novels)',
       'Catering to Nobody', 'Cause of Death', 'Certain Prey',
       "Charlotte's Web (Trophy Newbery)", 'Charming Billy',
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
       'Chocolat', 'Choke', 'Chosen Prey', 'Christine', 'Chromosome 6',
       'Circle of Friends', 'Clear and Present Danger (Jack Ryan Novels)',
       'Cold Mountain', 'Cold Mountain : A Novel', 'Cold Sassy Tree',
       'Colony', 'Coming Home',
       'Confessions of a Shopaholic (Summer Display Opportunity)',
       'Confessions of an Ugly Stepsister : A Novel', 'Congo', 'Contact',
       'Contagion', 'Coraline', 'Couplehood', 'Cradle and All',
       'Crazy for You',
       'Cruel & Unusual (Kay Scarpetta Mysteries (Paperback))',
       'Cry Wolf', 'Cujo',
       'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
       'Daddy', "Daddy's Little Girl", 'Daisy Fay and the Miracle Man',
       'Dance upon the Air (Three Sisters Island Trilogy)',
       'Dances With Wolves', 'Dangerous', 'Dark Angel', 'Dark Paradise',
       'Dark Rivers of the Heart', 'Dawn (Cutler)', 'Dead Run',
       'Death du Jour', 'Debt of Honor (Jack Ryan Novels)',
       'Deception Point', 'Deck the Halls (Holiday Classics)',
       'Degree of Guilt', 'Deja Dead', 'Desperation',
       'Devices and Desires', 'Different Seasons',
       'Digital Fortress : A Thriller', 'Disclosure',
       'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'Dolores Claiborne', "Don't Stand Too Close to a Naked Man",
       "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
       "Dr. Atkins' New Diet Revolution", 'Dragon Tears',
       'Dragonfly in Amber', 'Dream Country', 'Dreamcatcher',
       'Drowning Ruth', "Drowning Ruth (Oprah's Book Club)",
       'Drums of Autumn', "Dude, Where's My Country?", 'Dust to Dust',
       'Dying for Chocolate (Culinary Mysteries (Paperback))',
       'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
       'Easy Prey', 'Echoes', 'Ellen Foster', 'Empire Falls',
       "Ender's Game (Ender Wiggins Saga (Paperback))",
       'Engaging The Enemy', 'Envy', 'Evening Class',
       "Everything's Eventual : 14 Dark Tales", 'Exclusive',
       'Executive Orders (Jack Ryan Novels)', 'Eyes of Prey',
       'Eyes of a Child',
       'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
       'FORREST GUMP (Movie Tie in)',
       'Face the Fire (Three Sisters Island Trilogy)', 'Fahrenheit 451',
       'Faking It', 'Fall On Your Knees (Oprah #45)', 'Falling Angels',
       'False Memory', 'Family Album',
       'Fast Food Nation: The Dark Side of the All-American Meal',
       'Fast Women', 'Fat Tuesday', 'Fatal Cure', 'Fatherhood',
       'Fear Nothing', 'Final Target', 'Fine Things', 'Fingersmith',
       'Five Days in Paris', 'Five Quarters of the Orange',
       'Flesh and Blood',
       'Forever... : A Novel of Good and Evil, Love and Hope',
       "Fortune's Rocks : A Novel", "Fortune's Rocks: A Novel",
       "Foucault's Pendulum", 'Four Blind Mice', 'Four Past Midnight',
       'Four To Score (A Stephanie Plum Novel)',
       'Fried Green Tomatoes at the Whistle Stop Cafe',
       "From Potter's Field", 'From the Corner of His Eye',
       "Full House (Janet Evanovich's Full Series)",
       "Full Tilt (Janet Evanovich's Full Series)",
       'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
       'GARDEN OF SHADOWS (Dollanger Saga (Paperback))', "Gerald's Game",
       'Girl in Hyacinth Blue', 'Girl with a Pearl Earring',
       'Girl, Interrupted', 'Good Omens', 'Good in Bed', 'Gorky Park',
       'Granny Dan', 'Guardian Angel',
       'Guilty Pleasures (Anita Blake Vampire Hunter (Paperback))',
       'Guilty as Sin',
       'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
       'Hannibal',
       'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       "Harry Potter and the Sorcerer's Stone (Book 1)",
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'Harvest', 'Heart of the Sea (Irish Trilogy)', 'Heartbeat',
       'Heartbreaker', 'Hearts In Atlantis', 'Hearts in Atlantis',
       'Heaven and Earth (Three Sisters Island Trilogy)', 'Hemlock Bay',
       'Here on Earth', 'Hide & Seek', 'Hideaway', 'High Fidelity',
       'High Five (A Stephanie Plum Novel)', 'Holes (Yearling Newbery)',
       'Homecoming', 'Homeport', "Hornet's Nest",
       'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'House of Sand and Fog', 'How Stella Got Her Groove Back',
       'How to Be Good', 'How to Make an American Quilt',
       'I Capture the Castle', 'I Is for Innocent',
       'I Know This Much Is True',
       "I Know This Much Is True (Oprah's Book Club)",
       'I Know Why the Caged Bird Sings', "I'll Be Seeing You",
       'Icebound', 'Icy Sparks', 'If Only It Were True',
       'If Tomorrow Comes', 'Impulse', 'In Her Shoes : A Novel',
       'Inner Harbor (Quinn Brothers (Paperback))', 'Insomnia',
       'Intensity', 'Interview with the Vampire',
       'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
       'Into the Wild', 'Invasion', 'Irish Hearts', 'Isle of Dogs', 'It',
       'It Was on Fire When I Lay Down on It', "It's Always Something",
       'J Is for Judgment', 'Jack & Jill (Alex Cross Novels)',
       'Jacob Have I Loved',
       'Jemima J: A Novel About Ugly Ducklings and Swans', 'Jewel',
       "Jewel (Oprah's Book Club)", 'Jewels of the Sun (Irish Trilogy)',
       'Journey', 'Jurassic Park',
       'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
       'Kaleidoscope', 'Key of Knowledge (Key Trilogy (Paperback))',
       'Key of Light (Key Trilogy (Paperback))',
       'Key of Valor (Roberts, Nora. Key Trilogy, 3.)', 'Killjoy',
       'Kiss the Girls', 'L Is for Lawless', 'Ladder of Years',
       'Lake Wobegon Days', 'Lake Wobegon days',
       "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
       'Last Chance Saloon', 'Last Man Standing',
       "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
       'Let Me Call You Sweetheart', 'Life of Pi', 'Lightning',
       'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
       'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
       'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
       'Little Altars Everywhere: A Novel', 'Long After Midnight',
       'Lord of the Flies',
       'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
       'Loves Music, Loves to Dance', 'Lucky : A Memoir',
       'Lucky Man: A Memoir', 'M Is for Malice',
       'Macgregor Brides (Macgregors)', 'Macgregor Grooms (Macgregors)',
       'Master of the Game', 'Matilda', 'Me Talk Pretty One Day',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Mercy', 'Message from Nam', 'Message in a Bottle',
       'Middlesex: A Novel', 'Midnight', 'Midnight Bayou',
       'Midnight in the Garden of Good and Evil',
       'Midnight in the Garden of Good and Evil: A Savannah Story',
       'Midwives: A Novel', 'Mind Prey', 'Mirror Image', 'Misery',
       'Miss Julia Speaks Her Mind : A Novel',
       'Monster : A Novel (Alex Delaware Novels (Paperback))',
       'Montana Sky', 'Moo', 'Moonlight Becomes You',
       'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
       'Mortal Fear', 'Mortal Prey', 'Mother of Pearl', 'Mr. Murder',
       'My Gal Sunday', 'Mystic River', 'N Is for Noose', 'Naked',
       'Needful Things', 'Nerd in Shining Armor',
       'Neuromancer (Remembering Tomorrow)', 'Neverwhere',
       'Nickel and Dimed: On (Not) Getting By in America',
       'Nicolae: The Rise of Antichrist (Left Behind No. 3)', 'Night',
       'Night Prey', 'Night Sins', 'Night Whispers',
       'Nightmares & Dreamscapes', 'Nights in Rodanthe',
       'No Greater Love', 'No Safe Place', 'Notes from a Small Island',
       'Nothing Lasts Forever', 'Now You See Her',
       'On the Street Where You Live', 'One Door Away from Heaven',
       'One True Thing', 'One for the Money (A Stephanie Plum Novel)',
       'One for the Money (Stephanie Plum Novels (Paperback))',
       'Oryx and Crake', 'Outlander', 'Over the Edge', 'P Is for Peril',
       'Paradise', 'Patriot Games (Jack Ryan Novels)', 'Pay It Forward',
       'Peace Like a River', 'Pet Sematary', 'Phantoms', 'Pigs in Heaven',
       'Plainsong (Vintage Contemporaries)', 'Pleading Guilty',
       'Plum Island', 'Point of Origin',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Pop Goes the Weasel', 'Portrait in Death',
       'Possession : A Romance', 'Postmortem', 'Practical Magic',
       'Presumed Innocent', "Pretend You Don't See Her",
       'Pride and Prejudice', 'Primary Colors: A Novel of Politics',
       'Prime Cut', 'Prodigal Summer', 'Prodigal Summer: A Novel',
       'Purity in Death', 'Q Is for Quarry', 'Quentins', 'Rainbow Six',
       'Range of Motion', 'Reap the Wind', 'Rebecca', 'Red Dragon',
       'Red Storm Rising', 'Remember Me', 'Riptide', 'Rising Sun',
       'Rising Tides', "River's End", 'River, Cross My Heart',
       'Rose Madder', 'Roses Are Red (Alex Cross Novels)',
       'Rules of Prey', 'SHIPPING NEWS', 'STONES FROM THE RIVER',
       'Sacred Sins', 'Saint Maybe', 'Sanctuary', 'Saving Faith',
       'Scarlet Feather',
       'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""',
       "Schindler's List", 'Sea Glass: A Novel',
       'Sea Swept (Quinn Brothers (Paperback))', 'Seabiscuit',
       'Seabiscuit: An American Legend', 'Second Nature',
       'Secret History', 'Secrets', 'Seize the Night', 'September',
       'Seven Habits Of Highly Effective People',
       'Seven Up (A Stephanie Plum Novel)', 'Shadow Prey', 'Shadowfires',
       'Shattered', "She's Come Undone (Oprah's Book Club (Paperback))",
       "She's Come Undone (Oprah's Book Club)", 'Shell Seekers',
       'Shopaholic Takes Manhattan (Summer Display Opportunity)',
       'Shopaholic Ties the Knot', 'Sick Puppy', 'Silence of the Lambs',
       'Silent Witness', 'Sisterhood of the Traveling Pants',
       'Skeleton Crew', 'Skipping Christmas', 'Slammerkin',
       "Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death",
       'Sleepers', 'Slow Waltz in Cedar Bend', 'Small Town Girl',
       'Smart Women', "Smilla's Sense of Snow", 'Snow Falling on Cedars',
       'Sole Survivor', "Song of Solomon (Oprah's Book Club (Paperback))",
       "Songs in Ordinary Time (Oprah's Book Club (Paperback))",
       "Sophie's World: A Novel About the History of Philosophy",
       'Southern Cross', 'Sphere', 'Standoff',
       'Stanislaski Brothers (Silhouette Promo)', 'Still Waters',
       'Stillwatch', 'Strangers',
       'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
       'Sudden Prey', 'Summer Pleasures', 'Summer Sisters',
       "Suzanne's Diary for Nicholas", 'Table For Two',
       'Tales of a Fourth Grade Nothing',
       'Taltos: Lives of the Mayfair Witches', 'Tara Road',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       'Tears of the Moon (Irish Trilogy)', 'Tell Me Lies (Tell Me Lies)',
       'Tell Me Your Dreams', 'Tell No One', 'Temptation',
       'That Camden Summer', 'The Accidental Tourist',
       'The Alchemist: A Fable About Following Your Dream', 'The Alibi',
       'The Alienist', 'The Amazing Adventures of Kavalier & Clay',
       'The Amber Spyglass (His Dark Materials, Book 3)',
       'The Andromeda Strain', 'The Angel of Darkness', 'The Apprentice',
       'The Bachelor (Warner Books Contemporary Romance)',
       'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
       'The Bad Place', 'The Beach House', 'The Bean Trees',
       'The Blind Assassin', 'The Blue Nowhere : A Novel',
       'The Bluest Eye', 'The Body Farm', "The Bonesetter's Daughter",
       'The Bonfire of the Vanities',
       "The Book of Ruth (Oprah's Book Club (Paperback))",
       'The Bourne Identity', 'The Bourne Supremacy',
       'The Bourne Ultimatum', 'The Boy Next Door', 'The Brethren',
       'The Bridges of Madison County', 'The Burden of Proof',
       'The Cardinal of the Kremlin (Jack Ryan Novels)', 'The Carousel',
       'The Catcher in the Rye',
       'The Celestine Prophecy (Celestine Prophecy)', 'The Chamber',
       'The Cider House Rules',
       "The Clan of the Cave Bear (Earth's Children (Paperback))",
       'The Client', 'The Clinic (Alex Delaware Novels (Paperback))',
       'The Color Purple',
       "The Color of Water: A Black Man's Tribute to His White Mother",
       'The Copper Beech', 'The Cradle Will Fall',
       'The Crimson Petal and the White', 'The Da Vinci Code',
       'The Dark Half', 'The Dead Zone', 'The Deep End of the Ocean',
       'The Devil Wears Prada : A Novel',
       'The Diary of Ellen Rimbauer: My Life at Rose Red',
       'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'The Dogs of Babel (Today Show Book Club #12)',
       'The Door to December',
       'The Drawing of the Three (The Dark Tower, Book 2)', 'The Edge',
       'The Eight', 'The Empty Chair', 'The English Patient',
       'The Eyre Affair: A Novel', 'The Face of Deception',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       'The Firm', 'The First Counsel',
       'The First Wives Club Movie Tie In',
       'The Five People You Meet in Heaven', 'The Fourth Hand',
       "The General's Daughter", 'The Genesis Code', 'The Ghost',
       'The Gift', 'The Girl Who Loved Tom Gordon',
       "The Girls' Guide to Hunting and Fishing",
       'The Giver (21st Century Reference)', 'The Glass Lake',
       'The God of Small Things',
       'The Golden Compass (His Dark Materials, Book 1)',
       'The Great Gatsby', 'The Green Mile', 'The Grilling Season',
       'The Guardian', 'The Gunslinger (The Dark Tower, Book 1)',
       "The Handmaid's Tale", "The Hitchhiker's Guide to the Galaxy",
       'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
       'The Honk and Holler Opening Soon', 'The Horse Whisperer',
       'The Hot Zone', 'The Hours : A Novel', 'The Hours: A Novel',
       'The House of the Spirits', 'The Hundred Secret Senses',
       'The Hunt for Red October',
       "The Idiot Girls' Action Adventure Club", 'The Jester',
       'The Joy Luck Club',
       'The Killing Game: Only One Can Win...and the Loser Dies',
       'The King of Torts', 'The Kiss', "The Kitchen God's Wife",
       'The Last Precinct', 'The Last Time They Met : A Novel',
       'The Little Friend', 'The Little Prince', 'The Long Road Home',
       'The Loop',
       "The Lost Boy: A Foster Child's Search for the Love of a Family",
       'The Lost World', 'The Lottery Winner : Alvirah And Willy Stories',
       'The Lovely Bones: A Novel', 'The Mists of Avalon',
       'The Most Wanted', 'The Mulberry Tree',
       'The Mummy or Ramses the Damned', 'The Murder Book',
       'The Nanny Diaries: A Novel', 'The Next Accident',
       "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)",
       'The Notebook', 'The Other Boleyn Girl', 'The Partner',
       'The Pelican Brief',
       'The Perfect Storm : A True Story of Men Against the Sea',
       'The Phantom Tollbooth', 'The Pillars of the Earth',
       "The Pilot's Wife : A Novel",
       "The Plains of Passage (Earth's Children (Paperback))",
       'The Poisonwood Bible', 'The Poisonwood Bible: A Novel',
       'The Prince of Tides',
       "The Princess Bride: S Morgenstern's Classic Tale of True Love and High Adventure",
       'The Promise', 'The Pull of the Moon',
       'The Queen of the Damned (Vampire Chronicles (Paperback))',
       'The Rainmaker', 'The Rapture of Canaan', 'The Reader',
       'The Red Tent (Bestselling Backlist)', 'The Reef',
       'The Regulators',
       'The Reptile Room (A Series of Unfortunate Events, Book 2)',
       'The Rescue', 'The Return Journey',